
* {
    padding: 0;
    margin: 0px;
    box-sizing: border-box;
}

.container{
    max-width: 1400px;
    margin: 20px auto;
 }
#header{
    background-color: 	#000000;
}
#logo {
    color: 	#00FF00;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.5rem;
    letter-spacing: 2px;
}

nav{
    display: flex;
    justify-content: space-between;
    justify-items: center;
}
#logo{
    padding: 5px Opx;
}
#logo img{
    max-width: 50px;
    height: auto;
}
#main-menu{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
#main-menu li{
    position: relative;
}
#main-menu li a{
    color: #f8f8f8;
    display: block;
    padding: 18px 20px;
    text-decoration: none;
}
#main-menu ul.sub-menu{
    position: absolute;
    background-color: #131921;
    padding: 15px ®px;
    list-style: none;
    width: 200px;
    border: 1px solid #434343;
    display: none;
}
#main-menu li:hover>ul.sub-menu{
    display: block;
}
#main-menu ul.sub-menu a{
    padding: 8px 15px;
    border-bottom: 1px solid #434343;
    left: 0
}
#main-menu ul.sub-menu a{
    padding: 8px 15px;;
    border-bottom: 1px solid #434343;
}
#main-menu ul.sub-menu li:last-child a{
    border: none;
}
#main-menu ul.sub-menu ul.sub-menu{
    left: 200px;
    top: 37px;

}
#main-menu>li>a{
    position: relative;
}
#main-menu>li>a::before{
    content: "";
    height: 4px;
    width: Opx;
    background: #f00;
    position: absolute;
    bottom: 4px;
    left: Opx;
    transition: 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
}           
#main-menu>li:hover>a::before{
    width: 100%;
}
#main-menu>li.has-child::after{
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f107";
    color: #f5A5f5;
    position: absolute;
    top: 20px;
    right: Opx;
    padding: 0px 63px;
}
#main-menu .sub-menu>li.has-child::after{
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f107";
    color: #f5A5f5;
    position: absolute;
    top: 20px;
    right: Opx;
    padding: 0px 189px;
}
.btn {
    width: 200px;
    height: 54px;
    border-radius: 15px;
    border: none;
    background-color: green;
    color: #FFF;
    cursor: pointer;
}

.content{
    margin-top: 26px;
    margin-left: 26px;
    background-color: 	#FF8C00;

}
.post{
    display: flex;
}
.post-content{
    display: flex;
    align-items: center;
    margin-left: 26px;
    font-size: 30px;
}
.btn1-post{
    padding: 8px 12px;
    background-color: 	#FFFF00;
    color: #000000;
    margin-bottom: 26px;
    font-size: 20px;
    cursor: pointer;


}
.description{
    margin-top: 26px;
    margin-bottom: 26px;
    color: #FFF;

}
.btn2-post{
    padding: 16px 18px;
    background-color: #f8f8f8;
    color: #000000;
    cursor: pointer;


}
.product{
    margin-top: 50px;
    margin-left: 26px;
    background-color: 	#EEEEE0;
}
.post-product{
    display: flex;
    align-items: center;
    margin-left: 50px;
    font-size: 30px;
}
.description1{
    max-width: 750px;
    margin-top: 26px;
    margin-bottom: 26px;
    color: #000000;
}
.product img{
    max-width: 950px;
    height: 750px;
 

}
.btn3-post{
    padding: 16px 18px;
    background-color: #f8f8f8;
    color: #000000;
    cursor: pointer;
}
.post1{
    display: flex;
    
}
.post1-product{
    display: flex;
    align-items: center;
    margin-left: 50px;
    font-size: 30px;
}
.contact{
    background-color: #eff0f0;
    padding: 100px 174px;
    display: flex;
}

.contact_info{
    width: 40%;
    padding-right: 80px;
}

.contact_info_title{
    font-size: 5rem;
    font-weight: bold;
    margin: 60px 0 40px;
}

.contact_real{
    display: flex;
    margin-bottom: 14px;
}

.contact_real:nth-child(4){
    cursor: pointer;
}

.contact_real i{
    color: #ff5740;
    margin-right: 22px;
    font-size: 1.5rem;
}

.contact_real p{
    color: #6e7a81;
    font-size: 1.4rem;
}

.contact_span{
    display: block;
    margin-bottom: 14px;
    color: #6e7a81;
    font-size: 1.4rem;
}

.contact_social{
    display: flex;
    margin-top: 36px;
}

.contact_social-rim{
    border: 1px solid #6e7a81;
    border-radius: 50%;
    margin: 0 6px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact_social-rim:hover{
    border: 1px solid #000;
    cursor: pointer;
}

.contact_social-rim i{
    color: black;
    font-size: 1.4rem;
}

.contact_import{
    width: 60%;
    background-color: white;
    border-radius: 4px;
    padding: 36px 40px;
}

.contact_import input::placeholder{
    color: black;
}

.contact_ip_header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.contact_info-ipt{
    width: 44%;
    border-bottom: 1px solid #dadada;
    position: relative;
}

.contact_info-ipt div{
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 34px;
    height: 1px;
    background-color: black;
}

.contact_info-ipt_input{
    width: 100%;
    outline: none;
    border: none;
    font-size: 1.4rem;
    padding: 0 40px 12px 0;
}

.contact_subject{
    width: 100%;
    position: relative;
    border-bottom: 1px solid #dadada;
    margin-bottom: 50px;
}

.contact_subject div{
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 34px;
    height: 1px;
    background-color: black;
}

.contact_subject_input{
    width: 100%;
    outline: none;
    border: none;
    font-size: 1.4rem;
    padding: 0 40px 12px 0;
}

.contact_message{
    width: 100%;
    height: 105px;
    position: relative;
    border-bottom: 1px solid #dadada;
    margin-bottom: 50px;
}

.contact_message div{
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 34px;
    height: 1px;
    background-color: black;
}

.contact_message_input{
    width: 100%;
    outline: none;
    border: none;
    font-size: 1.4rem;
    padding: 0 40px 12px 0;
}

.contact_btn{
    font-size: 1.4rem;
    background-color: #ff5740;
    color: white;
    padding: 22px 30px;
    border-radius: 4px;
    border: 1px solid #ff5740;
}

.contact_btn:hover{
    cursor: pointer;
    background-color: white;
    color: #ff5740;
}

.footer{
    background-color: #031521;
    padding: 160px 100px;
}

.footer_logo{
    text-align: center;
    margin-bottom: 44px;
}

.footer_add{
    display: flex;
    justify-content: center;
    list-style: none;
}

.footer_add li{
    color: white;
    padding: 0 30px;
    font-size: 1.4rem;
    transition: 0.5s;
}

.footer_add li:hover{
    cursor: pointer;
    color: #ff5740;
}

.copyright{
    padding: 50px 0;
    text-align: center;
    font-size: 1.4rem;
}


