/*  Resest CSS  */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: Arial, Helvetica, sans-serif;
}

#main{

}

#header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 54px;
    background-color: #000;

}

#nav > li{
    display: inline-block;
}

#nav > li > a{
    color: #fff;
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: inline-block;
}

#header .search-btn{
    padding: 0px 21px;
    
    
}
.btn {
    width: 94px;
    height: 31px;
    border-radius: 5px;
    border: none;
    background-color: green;
    color: #FFF;
    cursor: pointer;
}
.symbol > a{
    color: rgb(92, 207, 92) !important;
    text-transform: uppercase;
}
#slide{
    position: fixed;
    top: 54px;
    left: 0;
    right: 0;
    height: 124px;
    
    background-color:	#C0C0C0;
}
.logo > a{
    color: #000000 !important;
    text-transform: uppercase;
    
}
.nav > a{
    color: #000000 !important;
    text-transform: uppercase;

}
#nav{
    display: flex;
    justify-content: space-between;
}
.btm {
    width: 94px;
    height: 31px;
    border-radius: 5px;
    border: none;
    background-color: 	#FF0000;
    color: #FFF;
    cursor: pointer;
}
#nav2 > li > a{
    color: 	#000000;
    text-decoration: none;
    line-height: px;
    padding: 0 24px;
    display: inline-block;
}
