:root{
    --primary-color: #4daf54;
}

html {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-family: montserrat,sans-serif;
    font-size: 1.6rem;
    line-height: 1.1;
}

.blog{
    /* background-color: yellow; */
    margin: 100px 0;
    text-align: center;
}

.blog_dsc{
    font-size: 1.4rem;
    margin-bottom: 16px;
}

.blog_title{
    font-size: 5rem;
    font-weight: bold;
    margin-bottom: 50px;
}

.blog_slide{
    margin-bottom: 50px;
    padding: 0 60px;
}

.blog_img_block{
    display: flex;
    justify-content: space-around;

}

.blog_img_main{
    width: 24%;
    border-radius: 4px;
    overflow: hidden;
}

.blog_img{
    position: relative;
    margin-bottom: 16px;
}

.blog_img_main img{
    width: 100%;
    object-fit: cover;
    object-position: center;
    
}

.blog_opacity{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 3px;
    width: 100%;
    background-color: black;
    opacity: 0;
    transition: 0.25s;
}

.blog_img_main:hover .blog_opacity{
    opacity: 0.3;
    cursor: pointer;
}

.blog_img_date{
    position: absolute;
    left: 50%;
    bottom: 3px;
    transform: translate(-50%, 0);
    padding: 9px 12px 7px;
    background-color: #fdcd67;
    border-radius: 4px;
    font-size: 1.4rem;
    transition: 0.25s;
}

.blog_img_date:hover{
    background-color: #fcc03f;
    cursor: default;
}

.blog_img_title{
    font-size: 2.2rem;
    font-weight: bold;
    margin: 0 30px;
    transition: 0.25s;
}

.blog_img_title:hover{
    cursor: pointer;
    color: #ff5740;
}

.blog_control{

}

.blog_control i{
    font-size: 2rem;
    margin: 0 8px;
    transition: 0.25s;
}

.blog_control i:hover{
    cursor: pointer;
    color: #ff5740;
}

/* /////////////////////////////// */
.contact{
    background-color: #eff0f0;
    padding: 100px 174px;
    display: flex;
}

.contact_info{
    width: 40%;
    padding-right: 80px;
}

.contact_info_title{
    font-size: 5rem;
    font-weight: bold;
    margin: 60px 0 40px;
}

.contact_real{
    display: flex;
    margin-bottom: 14px;
}

.contact_real:nth-child(4){
    cursor: pointer;
}

.contact_real i{
    color: #ff5740;
    margin-right: 22px;
    font-size: 1.5rem;
}

.contact_real p{
    color: #6e7a81;
    font-size: 1.4rem;
}

.contact_span{
    display: block;
    margin-bottom: 14px;
    color: #6e7a81;
    font-size: 1.4rem;
}

.contact_social{
    display: flex;
    margin-top: 36px;
}

.contact_social-rim{
    border: 1px solid #6e7a81;
    border-radius: 50%;
    margin: 0 6px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact_social-rim:hover{
    border: 1px solid #000;
    cursor: pointer;
}

.contact_social-rim i{
    color: black;
    font-size: 1.4rem;
}

.contact_import{
    width: 60%;
    background-color: white;
    border-radius: 4px;
    padding: 36px 40px;
}

.contact_import input::placeholder{
    color: black;
}

.contact_ip_header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.contact_info-ipt{
    width: 44%;
    border-bottom: 1px solid #dadada;
    position: relative;
}

.contact_info-ipt div{
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 34px;
    height: 1px;
    background-color: black;
}

.contact_info-ipt_input{
    width: 100%;
    outline: none;
    border: none;
    font-size: 1.4rem;
    padding: 0 40px 12px 0;
}

.contact_subject{
    width: 100%;
    position: relative;
    border-bottom: 1px solid #dadada;
    margin-bottom: 50px;
}

.contact_subject div{
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 34px;
    height: 1px;
    background-color: black;
}

.contact_subject_input{
    width: 100%;
    outline: none;
    border: none;
    font-size: 1.4rem;
    padding: 0 40px 12px 0;
}

.contact_message{
    width: 100%;
    height: 105px;
    position: relative;
    border-bottom: 1px solid #dadada;
    margin-bottom: 50px;
}

.contact_message div{
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 34px;
    height: 1px;
    background-color: black;
}

.contact_message_input{
    width: 100%;
    outline: none;
    border: none;
    font-size: 1.4rem;
    padding: 0 40px 12px 0;
}

.contact_btn{
    font-size: 1.4rem;
    background-color: #ff5740;
    color: white;
    padding: 22px 30px;
    border-radius: 4px;
    border: 1px solid #ff5740;
}

.contact_btn:hover{
    cursor: pointer;
    background-color: white;
    color: #ff5740;
}

/* ///////////// */
.footer{
    background-color: #031521;
    padding: 160px 100px;
}

.footer_logo{
    text-align: center;
    margin-bottom: 44px;
}

.footer_add{
    display: flex;
    justify-content: center;
    list-style: none;
}

.footer_add li{
    color: white;
    padding: 0 30px;
    font-size: 1.4rem;
    transition: 0.5s;
}

.footer_add li:hover{
    cursor: pointer;
    color: #ff5740;
}

.copyright{
    padding: 50px 0;
    text-align: center;
    font-size: 1.4rem;
}